.animated-button {
  /* Define the initial scale of the button */
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

/* Define the animation when the 'animate' class is applied */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 10px #fff;
  }
  50% {
    box-shadow: 0 0 20px #ffc11f;
  }
  100% {
    box-shadow: 0 0 10px #fff;
  }
}

/* Apply animation when the 'animate' class is present */
.animate {
  animation: glowing 2s linear infinite;
  animation-iteration-count: infinite;
}
