@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #1a1a1a;
}

/* YourComponent.css or global CSS file */
.JakartaSans-bold {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700; /* Bold style */
}
.JakartaSans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400; /* Bold style */
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Bold style */
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-weight: 400; /* Bold style */
}
.nunito-bold {
  font-family: "Nunito", sans-serif;
  font-weight: 700; /* Bold style */
}

.cedarville {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400; /* Bold style */
}
.SourceCodePro {
  font-family: "Source Code Pro", monospace;
}

:root {
  --green-10: #004d1b;
  --green-20: #016620;
  --green-30: #078029;
  --green-40: #109932;
  --green-50: #1cb33d;
  --green-60: #28c244;
  --green-70: #51d164;
  --green-80: #7fe18b;
  --green-90: #b3f0b8;
  --green-100: #d8ffda;
  --fill-tertiary: #393939;
}

.glowing-icon {
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    filter: drop-shadow(0 0 10px gold);
    opacity: 0.8;
  }
  to {
    filter: drop-shadow(0 0 20px gold);
    opacity: 1;
  }
}
